@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Goblin+One&family=Jost:ital,wght@0,100..900;1,100..900&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Jost", sans-serif;
    background-color: #EFECE3;
}


.btn-custom {
  background-color: #e74c3c; // กำหนดสีปุ่มแบบที่ต้องการ
  color: white;
  &:hover {
    background-color: #c0392b;
  }
}
